@use 'fonts';

// Main Colours
$blue: #040047; //Dark Blue
$gold: #E8A600; // Gold

// Secindary Colours
$white: #FFFFFF; // White
$muted-gold: #D4AF37; // Muted Gold
$silver: #C0C0C0; // Silver

// Font Families 
$h1-font-family: 'juliussanone', helvetica, arial;
$h2-font-family: 'raleway', 'helvetica', 'arial';
$p-font-family: 'nunito',arial, sans-serif;

// Font Sizes
$base-font-size: 20px;
$base-font-weight: 300;

