@use 'fonts';

// Main Colours
$blue: #040047; //Dark Blue
$pink: #FF69A0; // Pink

// Secondary Colours
$white: #FFFFFF; // White
$purple: #C681FF; // Light Purple
$l-blue: #4995F2; // Light Blue
$black: #000; // Black

// Font Families 
$h1-font-family: "Julius Sans One", sans-serif;
$h2-font-family: "Raleway", sans-serif;
$p-font-family: "Nunito", sans-serif;

// Font Sizes
$base-font-size: 20px;
$base-font-weight: 300;
$li-font-size: 28px;


