@use '../abstracts/variables' as v;

#contact {
  margin-top: 60px;
  padding-top: 120px;
  background-image: url("../images/contact-bckgrnd.png");
  background-size: cover;
  
}
#contact h2 {
  margin: 48px 24px;
}

.f-box {
 margin: 0px 8px 8px 8px;

}

input, textarea {
    width: 100%;
    outline: 0px;
    border: 1.5px solid rgba(255, 105, 185, 0.598);
    background: transparent;
    padding: 12px;
}

input::placeholder,  textarea::placeholder {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Julius Sans One", sans-serif;
  font-weight: 600px;
}


input[value=SEND] {
  background-color: transparent;
  font-size: 14px;
  font-family: "Julius Sans One", sans-serif;
  cursor: pointer;
  color: white;
}



form {
    width: 90%;
    max-width: 600px;
}

form label {
    display: inline-block;
    text-align: right;
  }
  
  
  #message {
    vertical-align: top;
    height: 120px;
    width: 250px;
  }

  #contact h3 {
    margin-bottom: 28px;
  }

  .txt-w {
    color:white;
  }

  