.gal-image { 
  width: 100%;
  height: auto;
  transition: transform 0.8s ease;
  aspect-ratio: 427 / 357; 
}

.gal-image:hover {
  transform: scale(1.05);
}

#gallery-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 1920px;
  justify-items: center;
  align-items: center;
}

@media (max-width: 768px) {
  #gallery-cont {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  #gallery-cont {
    grid-template-columns: repeat(3, 1fr);
  }
}