.gal-image { 
  width: 100%;
  height: auto;
  transition: transform 0.8s ease;
  aspect-ratio: 427 / 357; 
}

.gal-image:hover {
  transform: scale(1.05);
}

#gallery-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 1920px;
  justify-items: center;
  align-items: center;
}



.gal-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 300px; 
  text-align: center;
}

.gal-card:hover {
  transform: translateY(-10px);
}

.gal-image {
  width: 100%;
  height: auto;
  display: block;
}

.gal-content {
  padding: 16px;
}

.gal-content h3 {
  margin: 0;
  font-size: 1.25em;
  color: #333;
}

@media (max-width: 768px) {
  #gallery-cont {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  #gallery-cont {
    grid-template-columns: repeat(3, 1fr);
  }
}