@use '../abstracts' as a;

header {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.9995185574229691) 15%, rgba(2,0,36,0.6) 65%, rgba(4,0,71,0.2) 100%);
}

li {
    list-style-type: none;
    font-size: a.$li-font-size;
}

a {
    color: a.$white; 
    text-decoration: none;
}

// NAVIGATION 

#portal {
    visibility: hidden;
}

.checkbox {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 0;
    cursor: pointer;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.nav-link {
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
    color: white;
}

.main-nav {
    min-height: 60px;
    align-items: center;
    padding: 0 24px;

}

.nav-menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.nav-menu li {
    text-align: right;
}


.nav-open .nav-menu {
    visibility: visible;
    opacity: 1;
}

.nav-link {
    transition: 0.8s ease;
}

.nav-link:hover {
    color: a.$white;
}



 
 