@use '../abstracts' as a;



#logo {
    margin: 28px 24px;
    height: 85px;
    width: 75px;
}

header h1 {
    margin: 48px 24px;
}

#landing-header {
    h1, h3 {
        opacity: 0;
    }
}


li {
    list-style-type: none;
    font-size: a.$li-font-size;
}

a {
    color: #90A67A ; 
    text-decoration: none;
    transition: 0.6s ease color;
}

// NAVIGATION 

#portal {
    visibility: hidden;
}

#checkbox {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 0;
    cursor: pointer;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


a:hover {
    color: #FF87D5;
}

.main-nav {
    margin: 12px 28px;
    min-height: 60px;
    align-items: center;
    padding: 0 24px;

}

.nav-menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    
}

.nav-menu li {
    text-align: right;
}


.nav-open .nav-menu {
    visibility: visible;
    opacity: 1;
}

.nav-link {
    transition: 0.8s ease;
}

.nav-link:hover {
    color: a.$white;
}

#burger-con {
    margin-right: 24px;

}

@media screen and (min-width: 744px) {
    #checkbox {
        display: none;
    }

    label[for="toggleCheckbox"] {
        display: none; 
    }

    .nav-menu {
        visibility: visible; 
        opacity: 1;
        transform: none; 
    }

}