
#hero {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 48px;
    margin-left: 28px;
    margin-right: 28px;
    
}

#hero h1 {
    margin: 28px 0px;
}

#hero h3 {
    line-height: 32px;
}


.hero-bg {
    z-index: -1;
    top: 55%;
    position: absolute;
    height: 50;
}

