@use '../abstracts/variables' as v;

.toggle {
    width: 100vw; 
    height: 64px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 2;
    filter: drop-shadow(5px 0 rgba(255, 255, 255, 0.539));
    margin: 0; 
}

#case-butt {
    background: none;
    border: none;
    cursor: pointer;
}

.bottom-sheet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    color: black;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.bottom-sheet.show {
    opacity: 1;
    pointer-events: auto;
}

.bottom-sheet .sheet-overlay {
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.2;
}

.bottom-sheet .content {
    background-color: white;
    color: black;
    height: 25vh;
    max-height: 100vh;
    padding: 25px 30px;
    width: 100%;
    border-radius: 12px 12px 0 0;
    padding-bottom: 200px;
    margin-bottom: 0;
    margin-top: 200px;
    position: relative;
    transform: translateY(100%);
    transition: 1s;
}


.bottom-sheet.show .content {
    transform: translateY(0);
}

.bottom-sheet .header {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.bottom-sheet .drag-icon span {
    height: 4px;
    width: 40px; 
    display: block;
    background-color: white;
    border-radius: 50px;
}

.bottom-sheet .body h2 {
    font-size: 1.05rem;
}

#available {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;
}

#blink {
    height: 24px;
    width: 24px;
    fill: v.$pink;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}

#blink.fade {
    opacity: 0;
}

.case-direct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#studies li a {
    color: black;
}

#tools p {
    padding: 8px;
    margin-left: 8px;
    background-color: #FFE8F7;
    border-radius: 5px;
}

#tools button {
    background-color: transparent;
    border: 1px solid rgba(162, 162, 162, 0.75);
    color: rgba(162, 162, 162, 0.75);
    border-radius: 5px;
}

#date p {
    margin-top: 34px;
}

.case-direct p {
    font-size: 16px;
    margin: 4px;
}