@use '../abstracts/variables' as v;

body {
    background-image: url(../images/port_background.jpg);
}

#hero {
    margin-top: 90px;
    margin-bottom: 60px;
}

#hero h1 {
    margin: 28px 0px;
}

#hero h2 {
    margin-bottom: 90px;
}

.carousal-sec {
    margin-top: 90px;
    font-size: 16px;
}

.carousal-sec li{
    margin-bottom: 20px;
}

.carousal-placeholder {
    background-color: v.$black;
    width: auto;
    height: 291px;
    margin-bottom: 90px ;
}

#about h2 {
    margin-top: 90px;
    margin-bottom: 28px;
}

#about p {
    margin-bottom: 120px;
}

#video-player {
    margin-top: 60px;
    margin-bottom: 120px;
}

#contact {
    margin-top: 60px;
    margin-bottom: 120px;
}

#case-study-tab {
    background-color: v.$white;
    width:auto;
    height: 100px;
    color: v.$black;
}

#case-study-tab h3 {
    margin-top: 28px;
}

#video {
    width:fit-content;
}

:root {
    --plyr-color-main: #ffacf0;
    --plyr-control-icon-size: 28px;
    --plyr-control-radius: 8px;
    --plyr-control-spacing: 12px;
  }
