@use '../abstracts/variables' as v;

body {
    background-image: url(../images/portfoliobackground.jpg);
    background-size: cover;
}


#video-player {
    margin-top: 60px;
    margin-bottom: 120px;
}

#contact {
    margin-top: 60px;
    margin-bottom: 120px;
}

#case-study-tab {
    background-color: v.$white;
    width: auto;
    height: 100px;
    color: v.$black;
}

#case-study-tab h3 {
    margin-top: 28px;
}

#video {
    width:fit-content;
}

:root {
    --plyr-color-main: #ffacf0;
    --plyr-control-icon-size: 28px;
    --plyr-control-radius: 8px;
    --plyr-control-spacing: 12px;
  }
